
<div class="jumbotron text-center">
	<h1>Welcome to Dev Match</h1>
	<h3>A membership site where entrepreneurs can meet developers</h3>
</div>
	<section class="row">
<!--		if user is signed in don't show-->
		<% if user_signed_in? %>
			<div class="col-md-6">
				<div class="well">
					<h2 class="text-center">Profile</h2>
					<% if current_user.profile %>
					<%= link_to 'Edit Profile', "#", class: 'btn btn-default btn-lg btn-block', method: :get %>
					<%= link_to 'View Profile', user_path(current_user), class: 'btn btn-default btn-lg btn-block', method: :get%>
					<% else %>
					<p>Create profile so that you can share you information with the community</p>
					<%= link_to "Create Profile", new_user_profile_path(current_user), class: 'btn btn-default btn-lg btn-block', method: :get %>
					<% end %>
				</div>

			</div>
		<div class="col-md-6">
				<div class="well">
					<h2 class="text-center">The Community</h2>
					<p>Visit community to view other developer, entrepreneurs and investors</p>
					<%= link_to "Visit Community", "#", class: 'btn btn-default btn-lg btn-block', method: :get %>
				</div>
		</div>

		<% else %>
			<div class="col-md-6">
				<div class="well">
					<h2 class="text-center">Basic Membership</h2>
					<h4>Sign up for free and basic access to the community</h4>
					<br>
					<%= link_to 'Sign up for Basic', new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block', method: :get %>
				</div>
			</div>
			<div class="col-md-6">
				<div class="well">
					<h2 class="text-center">Pro Membership</h2>
					<h4>Sign up for pro account for 10/month and get access to the community and contact information</h4>
					<%= link_to 'Sign up for Pro', new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block', method: :get %>
				</div>
			</div>
		<% end %>
	</section>

